@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: var(--Grey-900);
  min-height: 100vh;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.centered {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  padding: 2rem;
  max-width: 75%;
  display: flex;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Grey-800);
}
.card-img img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.card-text p {
  text-align: center;
}
.card-text .name {
  color: var(--White);
  font-size: 1.6rem;

  font-weight: 600;
}
.card-text .location {
  color: var(--Green);
  font-weight: 600;
}
.user-description {
  margin: 1rem;
}
.user-description p {
  color: lightgray;
  font-weight: 400;
}
.profile-links {
  display: flex;
  justify-content: center;
}
.social-links-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.social-links-list li {
  text-align: center;
}
.social-link:link,
:visited {
  text-decoration: none;
  color: var(--White);
  font-size: 14px;
  font-weight: 700;
  background-color: var(--Grey-700);
  padding: 15px 90px;
  border-radius: 7px;
  display: block;
  transition: all 0.3s ease-in-out;
}
.social-link:hover {
  background-color: var(--Green);
  color: var(--Grey-800);
}
